*
!/.gitignore
!/README.md
!/Titanic.sln
!/Titanic.Common/
!/Titanic.Common/**
!/Titanic.Db/
!/Titanic.Db/**
!/Titanic.Entity/
!/Titanic.Entity/**
!/Titanic.Test/
!/Titanic.Test/**
!/.github/
!/.github/**

**/bin/
**/obj/
.vs/
*.log
*.pid
*.user
*.suo
*.cache
*.tsbuildinfo
**/appsettings*.local.json
!/ARCHITECTURE.md

